html, body, #map {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
#content{
    flex-grow: 1;
}

.routing-draw-enabled {
    cursor: crosshair;
}

/* FIXME permalink temporary hack */
.leaflet-control-permalink {
    display: none;
}

/* FIXME */
.elevation {
    display: none;
}

#message {
    position: absolute;
    left: 446px; /* 400 + 10 + 26 + 10 */
    top: 0px;
    margin-top: 10px;
    z-index: 1000;
}

/* dashed line animation, derived from Chris Coyier and others
   http://css-tricks.com/svg-line-animation-works/
 */
.loading-trailer {
    -webkit-animation: dash 0.4s linear infinite;
    animation: dash 0.4s linear infinite;
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 20;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 20;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*
 * opacity slider control (seiyria-bootstrap-slider)
 */

.control-slider {
  background: #fff;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.slider.slider-vertical {
  height: 80px;
}

/* invert track and selection styles to get partial gradient for "selection" */
.slider.slider-vertical .slider-track {
  width: 8px;
  margin-left: -4px;
  background-image: linear-gradient(to right, #f0f0f0 0%, #e9e9e9 100%);
  box-shadow: inset -1px -0px 1px rgba(55, 55, 55, 0.3), inset 1px 0px 1px rgba(230, 230, 230, 1);
}

.control-slider:hover .slider-track,
.control-slider:active .slider-track {
  background-image: linear-gradient(to bottom, magenta 0%, white 100%);
}

.slider-selection {
  background-color: #C6C6C6;
  background-image: none;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.slider.slider-vertical .slider-tick,
.slider.slider-vertical .slider-handle {
  margin-left: -6px;
  cursor: ns-resize;
  box-sizing: border-box;
  background: none;

  /* bootstrap .btn-default */
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  background-repeat: repeat-x;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  border: 1px solid #adadad;
}
